@inject IStringLocalizer<Resources> _localizer;

<div class='mx-3'>
    <MudGrid Justify="Justify.SpaceBetween">
        <MudItem md="6" Class="my-auto">
            <MudLink Class="mx-3" Style="@($"color:{Colors.Shades.White} !important; font-weight: bolder; font-size: 20px;")" Href="">@_localizer[nameof(Resources.HomeNav)]</MudLink>                    
            <MudLink Class="mx-3" Style="@($"color:{Colors.Shades.White} !important; font-weight: bolder; font-size: 20px;")" Href="add">@_localizer[nameof(Resources.AddNav)]</MudLink>
        </MudItem>
        <MudItem md="5">
            <MudGrid Justify="Justify.FlexEnd">
                <MudItem md="6" Class="my-auto mx-3">
                    <AccessControl />
                </MudItem>
                <MudItem md="4" Class="my-auto mx-3">
                    <SelectCulture />
                </MudItem>
            </MudGrid>
        </MudItem>
    </MudGrid>
</div>
